// Admin CSS
// -
// + + + + + + + + + + +

// Inner blocks

innerblocks,
.block-editor-inner-blocks {
	padding: 2rem;
	border: #777 1px dotted;
		
	&:hover {
		padding: 2rem;
		border: #777 1px solid;
	}
}

// Switch

.acf-true-false {
	
	input[id*='_fade'] + .acf-switch {
		background: rgb(118, 53, 21);
		
		&.-on {
			background: rgb(0, 83, 110);
		}
		.acf-switch-on,
		.acf-switch-off {
			color: #fff;
		}
	}
}

@import 'adblocks.scss';